n8n/n8n-playface-fixed-split-loop-branch-v3.json
{
  "name": "PlayFace procesar caricaturas low cost - fixed split branches",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -144,
        176
      ],
      "id": "2b4a897a-6f4b-4c07-a1c1-0cd6c630d5da",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-backend-url",
              "name": "backendUrl",
              "value": "https://playface-api.acertijo.dev",
              "type": "string"
            },
            {
              "id": "cfg-frontend-url",
              "name": "frontendUrl",
              "value": "https://playface.acertijo.dev",
              "type": "string"
            },
            {
              "id": "cfg-n8n-url",
              "name": "n8nUrl",
              "value": "https://n8n.acertijo.dev",
              "type": "string"
            },
            {
              "id": "cfg-backend-root",
              "name": "backendRoot",
              "value": "/app/projects/uefn-backend",
              "type": "string"
            },
            {
              "id": "cfg-n8n-files-root",
              "name": "n8nFilesRoot",
              "value": "/files",
              "type": "string"
            },
            {
              "id": "cfg-processed-dir",
              "name": "processedDir",
              "value": "procesed",
              "type": "string"
            },
            {
              "id": "cfg-estado-final",
              "name": "estadoFinal",
              "value": "procesado",
              "type": "string"
            },
            {
              "id": "cfg-openai-model",
              "name": "openAiImageModel",
              "value": "gpt-image-1",
              "type": "string"
            },
            {
              "id": "cfg-fetch-limit",
              "name": "fetchLimit",
              "value": 50,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "15a93855-bd3c-4b65-9882-7931d81bb374",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('Config').first().json;\nconst base = String(cfg.backendUrl || '').replace(/\\/$/, '');\nif (!base) {\n  throw new Error('Config.backendUrl es requerido');\n}\n\nconst limit = Number(cfg.fetchLimit) || 50;\nconst items = [];\nlet offset = 0;\n\nwhile (true) {\n  const res = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${base}/api/captures/new`,\n    qs: { limit, offset },\n    json: true,\n  });\n\n  if (!res?.ok || !Array.isArray(res.items) || res.items.length === 0) {\n    break;\n  }\n\n  for (const capture of res.items) {\n    items.push({\n      json: {\n        ...capture,\n        backendUrl: base,\n        frontendUrl: cfg.frontendUrl,\n        n8nUrl: cfg.n8nUrl,\n        backendRoot: cfg.backendRoot,\n        n8nFilesRoot: cfg.n8nFilesRoot,\n        processedDir: cfg.processedDir,\n        estadoFinal: cfg.estadoFinal,\n        openAiImageModel: cfg.openAiImageModel,\n      },\n    });\n  }\n\n  const total = res.pagination?.total ?? items.length;\n  offset += limit;\n  if (offset >= total) {\n    break;\n  }\n}\n\nreturn items;"
      },
      "id": "b19be4d8-5ba0-493b-8fef-b2d3bd3bea61",
      "name": "Obtener capturas nuevo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        176
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "de9afc3c-8a85-476d-bc03-6a7c7630787c",
      "name": "Un registro a la vez",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        496,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "const PROMPT_TEMPLATE = `Create a funny cartoon portrait from the selfie.\\nEmotion: {{ emocion }}. Confidence: {{ porcentaje }}.\\nThe emotion MUST be clearly visible and match the emotion exactly.\\nKeep the person recognizable: face, skin tone, hairstyle and main features.\\nMake it expressive, funny, colorful, Pixar + comic cartoon style, soft background.`;\n\nconst item = $input.first().json;\nconst n8nFilesRoot = String(item.n8nFilesRoot || '/files').replace(/\\/$/, '');\nconst processedDir = item.processedDir || 'procesed';\nconst apiBase = String(item.backendUrl || '').replace(/\\/$/, '');\n\nconst fc = item.fechaCaptura || item.createdAt || new Date().toISOString();\nconst d = new Date(fc);\nlet dateFolder;\nif (Number.isNaN(d.getTime())) {\n  const now = new Date();\n  dateFolder = now.getFullYear() + '-' + String(now.getMonth() + 1).padStart(2, '0') + '-' + String(now.getDate()).padStart(2, '0');\n} else {\n  dateFolder = d.getFullYear() + '-' + String(d.getMonth() + 1).padStart(2, '0') + '-' + String(d.getDate()).padStart(2, '0');\n}\n\nconst originalName = item.nombreArchivo || ('capture-' + item.id + '.png');\nconst ext = (originalName.match(/\\.[^.]+$/) || ['.png'])[0];\nconst baseName = originalName.replace(/\\.[^.]+$/, '');\nconst outputName = baseName + '-caricatura' + ext;\n\nconst rutaAlmacenamientoDivertida = processedDir + '/' + dateFolder + '/' + outputName;\nconst directorioDestino = n8nFilesRoot + '/' + dateFolder;\nconst rutaAbsolutaDivertida = directorioDestino + '/' + outputName;\n\nconst emocion = String(item.emocion || 'neutral').trim();\nconst porcentaje = item.nivelConfianza ?? 0;\n\nconst prompt = PROMPT_TEMPLATE\n  .replace(/\\{\\{\\s*emocion\\s*\\}\\}/gi, emocion)\n  .replace(/\\{\\{\\s*porcentaje\\s*\\}\\}/gi, String(porcentaje));\n\nconst rel = item.rutaAlmacenamiento ? String(item.rutaAlmacenamiento).replace(/\\\\/g, '/') : '';\nconst imageUrl = item.imageUrl || (rel ? apiBase + '/media/' + rel : null);\n\nif (!imageUrl) {\n  throw new Error('Captura ' + item.id + ' sin ruta_almacenamiento / imageUrl');\n}\n\nreturn [{\n  json: {\n    ...item,\n    dateFolder,\n    outputName,\n    prompt,\n    emocion,\n    porcentaje,\n    directorioDestino,\n    rutaAlmacenamientoDivertida,\n    rutaAbsolutaDivertida,\n    imageUrl,\n  },\n}];"
      },
      "id": "7bcaa0a9-002b-4e1c-82b9-d971c0e9c946",
      "name": "Preparar rutas y prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\n\nconst item = $input.first();\nconst dir = item.json.directorioDestino;\n\nif (!dir) {\n  throw new Error('directorioDestino no existe');\n}\n\nfs.mkdirSync(dir, { recursive: true });\nfs.chmodSync(dir, 0o775);\n\nreturn [item];"
      },
      "id": "9b6f09f8-dc54-4f7d-b1f4-e7837e49d6e8",
      "name": "Crear carpeta procesed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        176
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.imageUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "6149308c-8ee6-4dc9-836c-7bbdcc23a5a2",
      "name": "Descargar imagen original",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/edits",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $('Preparar rutas y prompt').item.json.openAiImageModel }}"
            },
            {
              "name": "prompt",
              "value": "={{ $('Preparar rutas y prompt').item.json.prompt }}"
            },
            {
              "name": "quality",
              "value": "low"
            },
            {
              "name": "size",
              "value": "1024x1024"
            },
            {
              "name": "n",
              "value": "1"
            },
            {
              "parameterType": "formBinaryData",
              "name": "image[]",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "7c87b847-aac6-44d2-8f95-cb6295cfc5e8",
      "name": "OpenAI caricatura",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1376,
        176
      ],
      "credentials": {
        "openAiApi": {
          "id": "XllsyZUfmNeYyWhK",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prep = $('Preparar rutas y prompt').first().json;\nconst openAi = $input.first().json;\n\nconst b64 = openAi?.data?.[0]?.b64_json;\nif (!b64) {\n  throw new Error('OpenAI no devolvio b64_json. Respuesta: ' + JSON.stringify(openAi).slice(0, 500));\n}\n\nconst buffer = Buffer.from(b64, 'base64');\n\nreturn [{\n  json: prep,\n  binary: {\n    data: await this.helpers.prepareBinaryData(buffer, prep.outputName, 'image/png'),\n  },\n}];"
      },
      "id": "b4688732-837d-4d4e-bd2b-c554e40108b2",
      "name": "Decodificar imagen OpenAI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        176
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.rutaAbsolutaDivertida }}",
        "options": {}
      },
      "id": "511e51b3-30a1-46f6-93c1-1e46c841da2c",
      "name": "Guardar en procesed",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1808,
        176
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Preparar rutas y prompt').item.json.backendUrl }}/api/captures/{{ $('Preparar rutas y prompt').item.json.id }}/processed",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ estadoProcesamiento: $('Preparar rutas y prompt').item.json.estadoFinal, rutaAlmacenamientoDivertida: $('Preparar rutas y prompt').item.json.rutaAlmacenamientoDivertida }) }}",
        "options": {}
      },
      "id": "11777296-6bea-4006-abd2-f1e2448593be",
      "name": "PATCH captura procesada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2032,
        176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-ok",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4f828c4b-54b9-4679-a117-90848165b0f3",
      "name": "PATCH ok?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2256,
        176
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Obtener capturas nuevo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener capturas nuevo": {
      "main": [
        [
          {
            "node": "Un registro a la vez",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Un registro a la vez": {
      "main": [
        [],
        [
          {
            "node": "Preparar rutas y prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar rutas y prompt": {
      "main": [
        [
          {
            "node": "Crear carpeta procesed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear carpeta procesed": {
      "main": [
        [
          {
            "node": "Descargar imagen original",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar imagen original": {
      "main": [
        [
          {
            "node": "OpenAI caricatura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI caricatura": {
      "main": [
        [
          {
            "node": "Decodificar imagen OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decodificar imagen OpenAI": {
      "main": [
        [
          {
            "node": "Guardar en procesed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar en procesed": {
      "main": [
        [
          {
            "node": "PATCH captura procesada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH captura procesada": {
      "main": [
        [
          {
            "node": "PATCH ok?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH ok?": {
      "main": [
        [
          {
            "node": "Un registro a la vez",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "e885497fa38a87822b8bcfa3104b2142c048c1470097683dbde5e7730f9fd64b"
  }
}