n8n/uefn-process-emotion-captures.json
{
  "name": "UEFN - Procesar capturas emocion (OpenAI procesed)",
  "nodes": [
    {
      "parameters": {},
      "id": "11111111-1111-4111-8111-111111111101",
      "name": "Inicio manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-backend-url",
              "name": "backendUrl",
              "value": "https://playface-api.acertijo.dev",
              "type": "string"
            },
            {
              "id": "cfg-frontend-url",
              "name": "frontendUrl",
              "value": "https://playface.acertijo.dev",
              "type": "string"
            },
            {
              "id": "cfg-n8n-url",
              "name": "n8nUrl",
              "value": "https://n8n.acertijo.dev",
              "type": "string"
            },
            {
              "id": "cfg-backend-root",
              "name": "backendRoot",
              "value": "/app/projects/uefn-backend",
              "type": "string"
            },
            {
              "id": "cfg-n8n-files-root",
              "name": "n8nFilesRoot",
              "value": "/files",
              "type": "string"
            },
            {
              "id": "cfg-processed-dir",
              "name": "processedDir",
              "value": "procesed",
              "type": "string"
            },
            {
              "id": "cfg-estado-final",
              "name": "estadoFinal",
              "value": "procesado",
              "type": "string"
            },
            {
              "id": "cfg-openai-model",
              "name": "openAiImageModel",
              "value": "gpt-image-1",
              "type": "string"
            },
            {
              "id": "cfg-fetch-limit",
              "name": "fetchLimit",
              "value": 50,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "11111111-1111-4111-8111-111111111102",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 300]
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('Config').first().json;\nconst base = String(cfg.backendUrl || '').replace(/\\/$/, '');\nif (!base) {\n  throw new Error('Config.backendUrl es requerido');\n}\n\nconst limit = Number(cfg.fetchLimit) || 50;\nconst items = [];\nlet offset = 0;\n\nwhile (true) {\n  const res = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${base}/api/captures/new`,\n    qs: { limit, offset },\n    json: true,\n  });\n\n  if (!res?.ok || !Array.isArray(res.items) || res.items.length === 0) {\n    break;\n  }\n\n  for (const capture of res.items) {\n    items.push({\n      json: {\n        ...capture,\n        backendUrl: base,\n        frontendUrl: cfg.frontendUrl,\n        n8nUrl: cfg.n8nUrl,\n        backendRoot: cfg.backendRoot,\n        n8nFilesRoot: cfg.n8nFilesRoot,\n        processedDir: cfg.processedDir,\n        estadoFinal: cfg.estadoFinal,\n        openAiImageModel: cfg.openAiImageModel,\n      },\n    });\n  }\n\n  const total = res.pagination?.total ?? items.length;\n  offset += limit;\n  if (offset >= total) {\n    break;\n  }\n}\n\nreturn items;"
      },
      "id": "11111111-1111-4111-8111-111111111104",
      "name": "Obtener capturas nuevo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "11111111-1111-4111-8111-111111111105",
      "name": "Un registro a la vez",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [660, 300]
    },
    {
      "parameters": {
        "jsCode": "const PROMPT_TEMPLATE = `Create a highly detailed cartoon-style portrait based on a real selfie photo. Preserve the person's real identity, facial structure, skin tone, hairstyle, and main facial features, but exaggerate the detected emotion in a humorous and expressive cartoon way.\\n\\nEmotion detected: {{ emocion }}\\nConfidence level: {{ porcentaje }}\\n\\nApply the emotional intensity according to the confidence percentage:\\n- 0–40% → subtle emotion\\n- 41–70% → noticeable emotion\\n- 71–100% → highly exaggerated emotional expression\\n\\nSupported emotions:\\n- Happiness\\n- Sadness\\n- Anger\\n- Surprise\\n- Fear\\n- Disgust\\n\\nEmotion behavior rules:\\n\\nHappiness:\\n- Big smile\\n- Bright eyes\\n- Cheerful expression\\n- Comic hearts, stars, sparkles\\n\\nSadness:\\n- Tears\\n- Pouty lips\\n- Sad eyebrows\\n- Rain cloud, dramatic mood\\n\\nAnger:\\n- Red face tones\\n- Angry eyebrows\\n- Steam/smoke effects\\n- Intense expression lines\\n\\nSurprise:\\n- Wide open eyes\\n- Open mouth\\n- Shock lines\\n- Dynamic comic effects\\n\\nFear:\\n- Nervous eyes\\n- Sweat drops\\n- Pale tones\\n- Tension effects\\n\\nDisgust:\\n- Scrunched nose\\n- Uneasy expression\\n- Greenish comic accents\\n- Reaction lines\\n\\nVisual Style:\\n- Semi-realistic cartoon\\n- Pixar + comic illustration mix\\n- High detail skin texture\\n- Expressive emotional caricature\\n- Cinematic lighting\\n- Clean soft background\\n- Funny but visually appealing\\n- Ultra detailed\\n- 4K digital illustration\\n\\nImportant:\\n- Keep the person recognizable\\n- Do not completely distort the face\\n- Preserve realism while exaggerating emotion\\n- Add comic/cartoon effects matching the emotion\\n- Emotion intensity must reflect the confidence percentage`;\n\nconst item = $input.first().json;\nconst n8nFilesRoot = String(item.n8nFilesRoot || '/files').replace(/\\/$/, '');\nconst processedDir = item.processedDir || 'procesed';\nconst apiBase = String(item.backendUrl || '').replace(/\\/$/, '');\n\nconst fc = item.fechaCaptura || item.createdAt || new Date().toISOString();\nconst d = new Date(fc);\nlet dateFolder;\nif (Number.isNaN(d.getTime())) {\n  const now = new Date();\n  dateFolder = now.getFullYear() + '-' + String(now.getMonth() + 1).padStart(2, '0') + '-' + String(now.getDate()).padStart(2, '0');\n} else {\n  dateFolder = d.getFullYear() + '-' + String(d.getMonth() + 1).padStart(2, '0') + '-' + String(d.getDate()).padStart(2, '0');\n}\n\nconst originalName = item.nombreArchivo || ('capture-' + item.id + '.png');\nconst ext = (originalName.match(/\\.[^.]+$/) || ['.png'])[0];\nconst baseName = originalName.replace(/\\.[^.]+$/, '');\nconst outputName = baseName + '-caricatura' + ext;\n\n// Ruta que guardas en BD/backend, relativa a tu carpeta pública del backend\nconst rutaAlmacenamientoDivertida = processedDir + '/' + dateFolder + '/' + outputName;\n\n// Ruta real dentro del contenedor n8n. /files está montado hacia:\n// /app/projects/uefn-backend/procesed en el Droplet\nconst rutaAbsolutaDivertida = n8nFilesRoot + '/' + dateFolder + '/' + outputName;\n\nconst emocion = String(item.emocion || 'neutral').trim();\nconst porcentaje = item.nivelConfianza ?? 0;\n\nconst prompt = PROMPT_TEMPLATE\n  .replace(/\\{\\{\\s*emocion\\s*\\}\\}/gi, emocion)\n  .replace(/\\{\\{\\s*porcentaje\\s*\\}\\}/gi, String(porcentaje));\n\nconst rel = item.rutaAlmacenamiento ? String(item.rutaAlmacenamiento).replace(/\\\\/g, '/') : '';\nconst imageUrl = item.imageUrl || (rel ? apiBase + '/media/' + rel : null);\n\nif (!imageUrl) {\n  throw new Error('Captura ' + item.id + ' sin ruta_almacenamiento / imageUrl');\n}\n\nreturn [{\n  json: {\n    ...item,\n    dateFolder,\n    outputName,\n    prompt,\n    emocion,\n    porcentaje,\n    rutaAlmacenamientoDivertida,\n    rutaAbsolutaDivertida,\n    imageUrl,\n  },\n}];"
      },
      "id": "11111111-1111-4111-8111-111111111106",
      "name": "Preparar rutas y prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.imageUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "11111111-1111-4111-8111-111111111107",
      "name": "Descargar imagen original",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/edits",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $('Preparar rutas y prompt').item.json.openAiImageModel }}"
            },
            {
              "name": "prompt",
              "value": "={{ $('Preparar rutas y prompt').item.json.prompt }}"
            },
            {
              "name": "size",
              "value": "1024x1024"
            },
            {
              "parameterType": "formBinaryData",
              "name": "image[]",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "11111111-1111-4111-8111-111111111108",
      "name": "OpenAI caricatura",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "jsCode": "const prep = $('Preparar rutas y prompt').first().json;\nconst openAi = $input.first().json;\n\nconst b64 = openAi?.data?.[0]?.b64_json;\nif (!b64) {\n  throw new Error('OpenAI no devolvio b64_json. Respuesta: ' + JSON.stringify(openAi).slice(0, 500));\n}\n\nconst buffer = Buffer.from(b64, 'base64');\n\nreturn [{\n  json: prep,\n  binary: {\n    data: await this.helpers.prepareBinaryData(buffer, prep.outputName, 'image/png'),\n  },\n}];"
      },
      "id": "11111111-1111-4111-8111-111111111109",
      "name": "Decodificar imagen OpenAI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.rutaAbsolutaDivertida }}",
        "dataPropertyName": "data",
        "options": {
          "createDirectories": true
        }
      },
      "id": "11111111-1111-4111-8111-111111111110",
      "name": "Guardar en procesed",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [1760, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Preparar rutas y prompt').item.json.backendUrl }}/api/captures/{{ $('Preparar rutas y prompt').item.json.id }}/processed",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ estadoProcesamiento: $('Preparar rutas y prompt').item.json.estadoFinal, rutaAlmacenamientoDivertida: $('Preparar rutas y prompt').item.json.rutaAlmacenamientoDivertida }) }}",
        "options": {}
      },
      "id": "11111111-1111-4111-8111-111111111111",
      "name": "PATCH captura procesada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-ok",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "11111111-1111-4111-8111-111111111112",
      "name": "PATCH ok?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2200, 300]
    }
  ],
  "connections": {
    "Inicio manual": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Obtener capturas nuevo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener capturas nuevo": {
      "main": [
        [
          {
            "node": "Un registro a la vez",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Un registro a la vez": {
      "main": [
        [
          {
            "node": "Preparar rutas y prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Un registro a la vez",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar rutas y prompt": {
      "main": [
        [
          {
            "node": "Descargar imagen original",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar imagen original": {
      "main": [
        [
          {
            "node": "OpenAI caricatura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI caricatura": {
      "main": [
        [
          {
            "node": "Decodificar imagen OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decodificar imagen OpenAI": {
      "main": [
        [
          {
            "node": "Guardar en procesed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar en procesed": {
      "main": [
        [
          {
            "node": "PATCH captura procesada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH captura procesada": {
      "main": [
        [
          {
            "node": "PATCH ok?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH ok?": {
      "main": [
        [
          {
            "node": "Un registro a la vez",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "active": false,
  "versionId": "22222222-2222-4222-8222-222222222202",
  "id": "33333333-3333-4333-8333-333333333301"
}
